.warehouseContainer{
    border: 1px solid rgb(255, 255, 255);
    width:200px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.warehouseContainer:hover{
    transform: scale(1.05);
}